header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

header a {
  text-decoration: none;
}

header h1 {
  font-size: 28px;
  color: var(--main-blue);
  font-weight: 600;
}

header .links {
  display: flex;
  gap: 3.7rem;
}

header .links li a {
  color: var(--main-blue);
  text-decoration: none;
  transition: 0.5s ease;
  font-size: 18px;
}

header .links li a:hover {
  color: orange;
}

header .images {
  display: flex;
  gap: 1rem;
}

hr {
  width: 100%;
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
  position: sticky;
  top: 5rem;
  z-index: 1;
}
