header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--secondary-yellow);
}

header a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s ease;
}

header h1 {
  font-size: 28px;
  font-weight: 600;
}

header .links {
  display: flex;
  gap: 3.7rem;
}

header .links li a {
  color: var(--main-blue);
  text-decoration: none;
  color: inherit;
  transition: 0.5s ease;
  font-size: 18px;
}

header .links li a:hover {
  color: orange;
}

header .images {
  display: flex;
  gap: 1rem;
}

hr {
  width: 100%;
  border: 1px solid;
  position: sticky;
  top: 5rem;
  z-index: 1;
}

header .themeButton {
  border: none;
  color: inherit;
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.5s;
  background-color: transparent;
}

header .themeButton:hover {
  color: orange;
}

header .logo1 {
  display: block;
}

header .logo2 {
  display: none;
}
