.education {
  width: 76%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.education li {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.education .bullet {
  position: relative;
  margin-right: 20px;
}

.education h3 {
  font-size: 24px;
}

.education h3::before {
  content: "•";
  position: absolute;
  left: 0;
  font-weight: 900;
}

.education h4 {
  font-size: 22px;
}

.education p {
  font-size: 20px;
  margin-top: 0.5rem;
  text-align: justify;
}
